@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.ttf") format("ttf");
}
* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
a {
  text-decoration: none !important;
}
.container-section {
  width: 80%;
  margin: auto;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hover-element {
  transition: transform 0.3s;
}
.hover-element:hover {
  transform: scale(0.97);
  cursor: pointer;
}
.glide__arrow {
  background-color: transparent !important;
  border: none;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.glide__bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glide__bullets button {
  background: #e0e0e0;
  width: 10.13px;
  height: 10.13px;
  border: none;
  border-radius: 10px;
}
.glide__bullets button:nth-child(2) {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  width: 14.13px;
  height: 14.13px;
  margin: 0 10px;
  border-radius: 14px;
}
.spots {
  background: linear-gradient(90.3deg, #94e5ff 3.56%, #1060ff 100%);
  font-weight: 700;
  padding: 10px 0px;
}
.spots p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
  transition: 5s;
  color: #ffffff;
  animation: blink-animation 1s steps(5, start) infinite;
  /* -webkit-animation: blink-animation 1s steps(5, start) infinite; */
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
._form-wrapper {
  z-index: 999999999999999999999 !important;
  position: relative;
}
/* modal pop-up  free-course*/
/* .modal-load {
  top: 10% !important;
  z-index: 99999999999999999 !important;
}
.btn-close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-body {
  display: flex;
  align-items: center;
}
.modal-body img {
  display: none;
}
.modal-dialog {
  max-width: 40% !important;
}
.modal-content {
  background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
  border-radius: 20px;
  padding: 20px;
  border: none !important;
}
.modal ._form-content h3 {
  color: rgba(255, 135, 22, 1);
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}
.modal ._form-content h3 span {
  background: rgba(225, 214, 214, 1);
  padding: 5px 35px 5px 5px;
}
.modal ._form-content p {
  color: white;
}
.modal ._form-content button {
  background: rgba(255, 122, 0, 1);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 24px;
}
.modal ._form_element {
  width: 80%;
  margin-top: 10px;
}
.modal ._form_element label {
  color: white;
} */
/* modal pop-up */
.modal-load{
  top: 4% !important;
  z-index: 99999999999999999  !important;
}
.btn-close{
  position: absolute;
  right: 0;
  top: 0;
}
.modal-title{
  font-size: 16px;
  font-weight: 600;
}
.modal-body ._html-code  {
  font-size: 16px;
  line-height: 18px;
}
/* navbar */
.navbar-wrapper {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 20px 69px rgba(137, 108, 4, 0.1);
  backdrop-filter: blur(11px);
  position: sticky;
  top: 0;
  z-index: 99999999;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.nav-link {
  font-size: 16px !important;
  line-height: 19px !important;
  color: #292929 !important;
}
.navbar-yellow {
  background: #fea14b;
}
.navbar-yellow p {
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}
.navbar-yellow a {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #292929;
}
.dropdown-menu {
  left: unset !important;
  right: 0 !important;
  background: linear-gradient(157.7deg, #ffffff 0%, #ededed 100%);
  border-radius: 8px !important;
  box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
  border: 1px solid #42e8e0 !important;
  padding: 16px 16px 0 !important;
}
.dropdown-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #606060 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  margin-bottom: 16px;
  border-radius: 8px !important;
}
/* hero */
.hero {
  padding: 2% 0%;
}
.hero > span {
  background: #474747;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.hero h1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 115.02%;
  letter-spacing: 0.065em;
  width: 60%;
  color: #f88a4d;
  margin: 2% 0%;
}
.hero p {
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  font-weight: 600;
  margin: 2% 0 0 10px;
}
.hero p span {
  /* font-size: 12px;
  line-height: 15px; */
  color: #858585;
  font-weight: 400;
}

.hero p span.blue-txt {
  font-size: 14px;
  color: #026193;
  font-weight: 600;
}

.hero p span.red-txt {
  color: #c00000;
}

.hero p span.red {
  color: #c00000;
  font-size: 16px;
  font-weight: 700;
}

.header-left {
  width: 30%;
  margin-right: 3%;
}
.header-left div {
  margin: 20px 0px;
}
.hero-img {
  width: 67%;
  height: auto;
  margin-top: -5%;
}
.hero button {
  background: linear-gradient(90deg, #2474ff -6.09%, #3080ff 108.94%);
  border: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 11px 41px;
  transition: background 0.4s ease;
}

.hero button:hover {
  background: linear-gradient(90deg, rgba(36, 187, 255, 1) 18%, rgba(36, 206, 255, 1) 58%, rgba(48, 160, 255, 1) 100%);
  cursor: pointer;
}

/* navigation */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 40px;
  background: linear-gradient(90.3deg, #94e5ff 3.56%, #1060ff 100%);
  box-shadow: 0px 37px 46px -11px rgba(4, 105, 124, 0.23);
  border-radius: 8px;
  backdrop-filter: blur(9px);
  margin: 5% auto;
  position: sticky;
  top: 135px;
  z-index: 9999999;
  border: 1px solid #026193;
}
.navigation div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation button {
  color: #292929;
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
}
.active-navigation {
  background: #026193 !important;
  border-bottom: 3px solid #6d0069 !important;
  font-weight: 800 !important;
  color: #ffffff !important;
}
.active-navigationn {
  background: #026193 !important;
  border-bottom: 3px solid #6d0069 !important;
  font-weight: 800 !important;
  color: #ffffff !important;
}
.navigation-w {
  width: auto !important;
}
/* career cards */
.career-card h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #474747;
  margin-top: 10px;
  margin-bottom: 30px;
}
.career-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

/* success formula */

.success-formula {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  border-bottom: 15px solid #ffac88;
  margin: 100px auto;
  padding: 55px 0;
}

.success-formula h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  background: linear-gradient(90deg, #026193 0%, #94e6ff 100%);
  width: 40%;
  padding: 8px;
  margin-bottom: 54px;
}

.success-formula .card-container {
  display: flex;
  flex-direction: row;
  gap: 3px;

  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(251, 134, 25, 1) 70%, rgba(255, 255, 255, 1) 100%);

  margin-bottom: -120px;
}

.success-formula .success-card {
  background: #ffffff;
  padding: 24px 20px;
  flex-basis: 33.3%;
}

.success-formula .success-card.left {
  box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.success-formula .success-card.middle {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.success-formula .success-card.right {
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

.success-card h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #474747;
}

.success-card h4 span {
  color: #fb8619;
}

.success-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}

.success-card hr {
  background: #394dff;
  width: 40%;
  height: 6px !important;
  border: none;
  opacity: 1;
}

.success-card-hover {
  transition: all 0.8s ease;
}

.success-card-hover:hover {
  background: #f88a4d;
  transform: translateY(-15%);
}

.success-card-hover:hover h4 span,
.success-card-hover:hover p {
  color: #ffffff;
}

/* bonus pack */

.bonus-container {
  background: #1262ff;
  padding: 48px 60px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 62px;
}

.bonus-pack h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.bonus-pack h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.bonus-pack h4 span {
  color: #fda14a;
}

.bonus-pack ul {
  margin: 28px 0;
}

.bonus-pack ul li {
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

.bonus-pack button {
  background: #fda14a;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 68px;
  font-size: 20px;
  transition: 0.2s ease-in;
}

.bonus-pack button:hover {
  background: #ffb671;
}

/* free video */
.free-video {
  margin: 5% 0%;
}
.free-video-left {
  background: linear-gradient(90.3deg, #94e5ff 3.56%, #1060ff 100%);
  padding: 64px 10% 64px 10%;
}
.free-video div p {
  font-size: 16px;
  line-height: 19px;
}
.free-video div p:nth-child(1) {
  padding: 8px;
  background: #ffffff;
  color: #666666;
}
.free-video div h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #292929;
}
.free-video h3 span {
  color: rgba(2, 97, 147, 1);
  font-weight: 900;
}
.free-video-left label {
  color: #292929;
  font-size: 16px;
  line-height: 19px;
}
.free-video-left button {
  background: #f88a4d;
  border-radius: 4px;
  border: none;
  padding: 8px;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.input-wrapper {
  display: flex;
  position: relative;
  margin-top: 10px;
}
.input-wrapper input {
  width: 100%;
  background: #002a3f;
  border-radius: 4px;
  padding: 11px 10px;
  border: none;
  color: #c2c2c2;
}
/* success-program */
.success-program {
  margin: 5% auto;
}
.success-program h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #666666;
  padding-bottom: 24px;
}
.success-program h3 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 600;
}
.success-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0%;
}
.success-skills div {
  background: url(images/soft-skills.svg);
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  width: 500px;
  padding: 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 200px;
}
.success-skills div:nth-child(2) {
  background: url(images/hard-skills.svg);
  background-repeat: no-repeat;
  align-items: start;
}
.success-skills div span {
  position: absolute;
  top: -20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background: #026193;
  padding: 10px 16px;
  left: 100px;
}
.success-skills div:nth-child(2) span {
  left: 50px;
}
.success-skills div p {
  width: 60%;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #292929;
}
.success-skills div:nth-child(2) p {
  margin-left: 10%;
}
.success-program-wrapper {
  display: flex;
  justify-content: space-between;
}
.success-program-wrapper div {
  width: 24%;
}
.success-program-wrapper div h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #474747;
  height: 70px;
}

.success-program hr {
  height: 4px !important;
  background: #026193;
  width: 150px;
  opacity: 1;
}

.success-program-wrapper div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  padding: 16px 0px;
}
/* modules */
.modules {
  background: url(images/modules-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 0%;
}
.modules h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #026193;
}
.modules hr {
  height: 4px !important;
  background: #026193;
  width: 50px;
  opacity: 1;
  margin-left: 24px;
}
.modules p {
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  margin-top: 24px;
}
.modules p span {
  color: rgba(2, 97, 147, 1);
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
}
.hard-skills {
  width: 60%;
  text-align: center;
}
.soft-skills {
  width: 30%;
}
.hard-skills-header h3,
.soft-skills h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #474747;
  padding: 12px 10px;
  background: #e5e5e5;
  border-top: 1px solid #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 0;
  text-align: center;
}
.hard-skills-titles {
  display: flex;
  background: #026193;
  border-radius: 0px 0px 12px 12px;
}
.hard-skills-titles h4 {
  border-right: 1px solid rgba(255, 255, 255, 1);
  width: 33%;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soft-skills div {
  background: #026193;
  border-radius: 0px 0px 12px 12px;
}
.soft-skills div h4 {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  margin: 0px 8px 8px 8px;
  padding: 16px;
}
.hard-skills-box {
  max-width: 31%;
  margin: 0 auto;
}
.hard-skills-box p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  background: #f2fcff;
  border-radius: 4px;
  height: 64px;
  margin: 10px;
  position: relative;
}
.hard-skills-box p span:nth-child(1) {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  font-weight: 500;
  width: 70%;
}

.hard-skills-box p span:nth-child(2) {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: #ffebe3;
  border: 1px solid #f88a4d;
  border-radius: 4px;
  color: #853000;
  padding: 6px;
  position: absolute;
  right: 10px;
}
/* through-years */
.through-years {
  margin: 5% auto;
}
.through-years h2 {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 48px;
}
.through-years h2 span {
  font-weight: 800;
  color: rgba(248, 138, 77, 1);
}
.through-years img {
  width: 60%;
}
.through-years p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #474747;
  padding: 12px;
  background: rgba(255, 255, 255, 0.48);
  backdrop-filter: blur(5.5px);
  border: 1px solid #ff7a00;
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.through-years div div {
  width: 38%;
  margin-left: 2%;
}
.through-years .main-event {
  color: #292929;
  background: linear-gradient(90.3deg, #94e5ff 3.56%, #1060ff 100%);
}
/* practical-projects */

.practical-projects {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 5% 0%;
  gap: 2%;
}

.practical-projects h3 {
  font-size: 32px;
  line-height: 39px;
  color: rgba(102, 102, 102, 1);
  text-align: center;
}
.practical-projects h3 span {
  color: #f88a4d;
  font-weight: 800;
}
.practical-projects p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666666;
}

.practical-projects-left,
.practical-projects-right {
  flex-basis: 50%;
}

.practical-card {
  padding: 2px;
  background: linear-gradient(90deg, #ffac88 0%, #ff8716 136.84%);
  border-radius: 8px;
  margin: 2% auto;
}
.practical-card-inner {
  padding: 12px;
  background: #ffffff;
  border-radius: 8px;
}
.practical-card-inner div {
  display: flex;
}
.practical-card-inner div h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  border-bottom: 4px solid #026193;
  padding: 4px 0px;
  margin-right: 8px;
}
.practical-card-inner div span {
  color: #026193;
  border: 3.84615px solid #026193;
  padding: 9.61538px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 17.3077px;
}
.practical-card-inner p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #474747;
  text-align: left;
  padding: 8px 0px;
}
.fast-track-project {
  padding: 2px;
  /* background: linear-gradient(90deg, #FFAC88 0%, #FF8716 136.84%); */
  border-radius: 8px;
  margin: 2% 0%;
}
.fast-track-project-inner {
  padding: 12px;
  background: url(images/fast-track-additional.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.fast-track-project-inner p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  text-align: left;
  margin: 0;
  padding: 3% 0%;
}

/* guarantee */

.guarantee {
  background: #026193;
  padding: 5px;
  color: #ffffff;
  border-radius: 10px;
  margin: 0px auto 40px;
}

.guarantee h2 {
  background: linear-gradient(90deg, #f2a45c 0%, rgba(4, 33, 71, 0) 100%);
  width: 40%;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 42px;
  padding: 8px;
}

.guarantee p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #292929;
}

.guarantee p span {
  font-weight: 400;
  font-size: 14px;
}

.guarantee-inner {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  border-radius: 8px;
  padding: 24px 16px;
}

.guarantee-container {
  display: flex;
  gap: 24px;
  padding: 0 40px 50px;
  justify-content: space-evenly;
}

.guarantee button {
  font-weight: 700;
  border: none;
  font-size: 16px;
  background: #f2a45c;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 12px 37px;
  transition: 0.2s ease-in;
}

.guarantee button:hover {
  background: #ecf8f9;
}

/* hire */
.hire-program {
  background: linear-gradient(90.3deg, #c6ecf8 0%, #8adffa 100%);
  padding: 3% 0;
  margin-top: 300px;
  color: #474747;
}

.hire-program .container-section {
  position: relative;
}

.hire-program h2 {
  font-size: 32px;
  line-height: 50px;
  position: relative;
  z-index: 2;
  width: 60%;
}

.hire-program h2 span {
  padding: 8px;
  background: #026193;
  color: #ffffff;
  font-weight: 800;
}

.hire-program p {
  font-size: 16px;
  line-height: 19px;
  width: 40%;
  margin: 4% 0%;
  position: relative;
  z-index: 10;
}

.hire-program p span {
  color: #026193;
  font-weight: 600;
}

.hire-table {
  background: linear-gradient(
    270deg,
    #302cff 0%,
    rgba(97, 132, 255, 0) 14.37%,
    #1782ff 49.99%,
    rgba(100, 134, 255, 0) 87.81%,
    #6599ff 100%
  );
  backdrop-filter: blur(17.7885px);
  border-radius: 11.5385px;
  padding: 4px;
  position: relative;
  z-index: 3;
  margin-top: 3%;
}

.hire-table-inner {
  border-radius: 11.5385px;
  padding: 23.0769px;
  background: transparent;
  backdrop-filter: blur(17.7885px);
  background: rgba(255, 255, 255, 0.71);
}

.hire-table-inner .col-lg-1 span {
  color: #026193;
  border: 3.84615px solid #026193;
  padding: 9.61538px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 900;
  font-size: 17.3077px;
  margin-bottom: 10px;
}

.hire-table-inner h4 {
  font-weight: 800;
  font-size: 17.3077px;
  line-height: 21px;
  height: 75px;
}
.hire-table-inner hr {
  background-color: #026193;
  opacity: 1;
  height: 4px !important;
}
.hire-table-inner p {
  height: 120px;
  font-weight: 600;
  font-size: 15.3846px;
  line-height: 19px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.hire-table-inner .col-1 div {
  font-weight: 800;
  font-size: 46.1538px;
  line-height: 56px;
  color: #fda14a;
  background: rgba(28, 0, 37, 0.62);
  padding: 0px 15.3846px;
}
.yellow-value,
.yellow-value div {
  color: #394dff !important;
}
.yellow-value span {
  border: 3.84615px solid #394dff !important;
  color: #394dff !important;
}
.hire-me-info {
  padding-bottom: 150px !important;
}

.hire-program .logo-girl {
  position: absolute;
  right: -10%;
  top: -15%;
  z-index: 1;
}

.hire-after {
  display: flex;
  margin: 2% 0;
  background: rgba(255, 255, 255, 0.71);
  position: relative;
  z-index: 5;
  padding: 25px 10px;
  border-radius: 12px;
  border: 1px solid #302cfe;
}

.hire-after p.hire-heading {
  color: #026193;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.hire-after .hire-left,
.hire-after .hire-right {
  flex-basis: 50%;
  position: relative;
  z-index: 2;
}

.hire-after .hire-left div {
  display: flex;
}

.hire-after .hire-left div img,
.hire-after .hire-right div img {
  align-self: center;
}

.hire-after .hire-right .hr-report {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 5%;
}

.hire-right .hr-report button {
  background: #f88a4d;
  color: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  padding: 12px 28px;
  font-weight: 700;
  transition: 0.2s ease-in;
}

.hire-right .hr-report button:hover {
  cursor: pointer;
  background: #ecf8f9;
  color: #292929;
}

.hire-right .hr-report p {
  color: #026193;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hire-after hr {
  background: #026193;
  width: 30%;
  height: 5px !important;
  border: none;
  opacity: 1;
}

.hire-after .hire-left div p,
.hire-after .hire-right div p {
  margin: 2% 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}
/* 
.hire-program .logo-girl {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
} */

/* experts */
.experts {
  margin: 5% auto;
}
.experts h2 {
  font-size: 32px;
  line-height: 39px;
  color: #666666;
  text-align: center;
}
.experts h2 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 700;
}
.expert-card {
  border-radius: 8px;
  background: linear-gradient(90deg, #92bdff 0%, #ca58ff 136.84%);
  padding: 2px;
  margin: 2% 0%;
}
.expert-card-inner {
  background: url(images/lecturers-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 16px;
  border-radius: 8px;
}
.expert-card-inner h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #292929;
}
.expert-card-inner hr {
  background: #026193;
  height: 2px !important;
  margin: 0;
  opacity: 1;
}
.expert-card-inner p {
  font-size: 16px;
  line-height: 20px;
  color: #474747;
  margin-top: 8px;
  height: 1xp;
}
/* portfolio */
.portfolio {
  padding: 5% 0%;
}
.portfolio h2 {
  font-size: 32px;
  line-height: 39px;
  color: #666666;
}
.portfolio h2 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 800;
}
.portfolio hr {
  background: rgba(248, 138, 77, 1);
  height: 4px !important;
  margin: 0;
  opacity: 1;
  width: 50px;
  margin-left: 30px;
}
.portfolio p {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.portfolio p span {
  font-weight: 700;
  color: rgba(71, 71, 71, 1);
}
.portfolio-wrapper {
  padding: 1px;
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  border-radius: 16px;
}
.portfolio-inner {
  border-radius: 16px;
}
.portfolio-left {
  padding: 32px 16px;
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  border-radius: 16px 0px 0px 16px;
  width: 25%;
}
.portfolio-left h4 {
  font-size: 18px;
  line-height: 22px;
  color: #292929;
  margin-top: 16px;
  font-weight: 700;
}
.portfolio-left p {
  background: linear-gradient(90deg, #3c44bb 0%, rgba(60, 68, 187, 0) 100%);
  padding: 10px;
  margin: 10px 0px;
  font-size: 16px;
  line-height: 19px;
  color: #e0e0e0;
}
.portfolio-right {
  width: 75%;
  padding: 32px 16px;
  background-color: white;
  border-radius: 0px 16px 16px 0px;
}
.portfolio-right h3 {
  font-weight: 700;
  font-size: 24.5641px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fda14a;
}
.portfolio-right h5 {
  font-size: 16.3761px;
  line-height: 20px;
  color: #474747;
}
.portfolio-right hr {
  background: #fda14a;
  height: 2px !important;
  margin: 0;
  opacity: 1;
  width: 100px;
}
.portfolio-right p {
  font-size: 14px;
  line-height: 17px;
  color: #474747;
  padding-top: 16px;
}
.portfolio-right h4 {
  font-size: 18px;
  line-height: 22px;
  color: #292929;
  font-weight: 700;
}
.portfolio-right .portfolio-ul p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: #474747;
  padding-top: 0;
}
.portfolio-right .portfolio-ul p span {
  color: rgba(133, 133, 133, 1);
  font-weight: 500;
}
.portfolio-ul .d-flex p:nth-child(1) {
  width: 100px;
}
.portfolio-ul .d-flex div {
  width: 90%;
}
.portfolio-ul .d-flex .d-flex {
  /* height: 130px; */
}
.portfolio-ul .d-flex .d-flex div p {
  width: 100% !important;
  margin: 0;
}
.portfolio-ul small {
  font-size: 12px;
  line-height: 15px;
  color: #666666;
}
.portfolio-ul hr {
  background: rgba(248, 138, 77, 1);
  height: 2px !important;
  margin: 5px 0%;
  opacity: 1;
  width: 100px;
}
.experience-info {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 17px !important;
  color: #474747 !important;
}
.tik-tok-m {
  margin-top: 4%;
}
.portfolio-img {
  height: 700px;
}
.first-ul {
  height: 384px;
}
.second-ul {
  height: 168px;
}
/* .m-lg-last-exp{
  margin-top: 70px !important;
} */
/* real projects */
.real-projects {
  overflow: hidden;
  margin-top: -1000px;
}
.real-projects h2 {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin: 5% 0%;
}
.real-projects h2 span {
  font-weight: 900;
  color: #f88a4d;
}
.real-projects-card {
  /* width: 30%; */
  height: 500px;
  margin-bottom: 50px;
}
.real-projects-card img {
  width: 100%;
  height: 400px;
}
.real-projects-card p:nth-child(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #474747;
}
.real-projects-card p:nth-child(2) span {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
}
.real-projects .container-section {
  position: relative;
  z-index: 2;
}
.real-projects-bg div {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  transform: rotate(-3.09deg);
  height: 300px;
  border-bottom: 12px solid #fda14a;
  position: relative;
  z-index: 1;
  width: 105%;
  margin-left: -2%;
  margin-bottom: 200px;
  top: 1170px;
}
/* invest */
.invest {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding: 5% 0%;
  margin: 5% 0%;
}
.invest h3 {
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin: 2% 0%;
}
.invest h3 span {
  color: rgba(2, 97, 147, 1);
  font-weight: 700;
}
.invest p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 5% 0%;
}
.invest img {
  width: 100%;
  height: auto;
}
.invest-left {
  width: 48%;
}

.invest img.youtube-video {
  width: 100%;
  margin-left: 2%;
}

/* students youtube */
.students-youtube {
  margin: 5% 0%;
  position: relative;
}
.students-youtube h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #666666;
  text-align: center;
}
.students-youtube h3 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 800;
}
.students-youtube p {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
}
.glide-students-youtube {
  position: relative;
  z-index: 2;
}
.youtube-bg {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  margin-top: -200px;
  position: relative;
  z-index: 1;
  height: 240px;
}
/* behance */
.behance-profiles {
  margin: 5% auto;
}
.behance-profiles h2 {
  font-size: 32px;
  line-height: 39px;
  color: #666666;
  text-align: center;
}
.behance-profiles h2 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 800;
}
.behance-card {
  background: linear-gradient(90.3deg, #94e5ff 3.56%, #1060ff 100%);
  padding: 1px;
  border-radius: 12px;
  margin: 5% 0%;
  position: relative;
  height: 340px;
}
.behance-card-inner {
  padding: 12px 12px 24px;
  background: #ffffff;
  border-radius: 12px;
  text-align: center;
  height: 100%;
}
.behance-card img {
  max-width: 100%;
  height: auto;
}
.behance-card img:nth-child(2) {
  margin-top: -50px;
}
.behance-card p:nth-child(3) {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.behance-card p:nth-child(4) {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #474747;
  font-weight: 700;
}
.behance-card p:nth-child(4) span {
  color: rgba(133, 133, 133, 1);
  font-weight: 500;
}
.behance-card p:nth-child(5) {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #026193;
}

.behance-card span.label-top,
.behance-card span.label-bottom,
.behance-card span.single-label {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: #ffffff;
  padding: 0 10px;
}

.behance-card span.label-top {
  background: #ff8716;
  font-weight: 700;
  font-size: 14px;
  right: 90px;
  top: 0;
  transform: translateX(50%) rotate(9deg);
}

.behance-card span.label-bottom {
  background: #a8d0f5;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  right: 90px;
  top: 20px;
  transform: translateX(50%) rotate(9deg);
}

.behance-card span.single-label {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  padding: 0 20px;
  transform: rotate(9deg);
  top: 3%;
  right: 3%;
}

.behance-card span.red {
  background: #ff0000;
}

.behance-card span.green {
  background: #19be55;
}

.behance-card span.purple {
  background: #ca58ff;
}

/* profile - position */
.profile-position {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding: 5% 0%;
}
.profile-position h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  padding: 8px;
  width: 60%;
  background: linear-gradient(90deg, #ff6b19 0%, rgba(255, 172, 136, 0) 115.48%);
  margin-bottom: 5%;
}
.profile-position .percent {
  padding: 24px;
  border-left: 4px solid #fda14a;
  width: 19%;
  font-weight: 900;
  font-size: 58px;
  line-height: 70px;
  color: #026193;
}
.profile-position .percent span {
  font-size: 24px;
  line-height: 29px;
  color: #292929;
  font-weight: 500;
  display: block;
  margin-top: 16px;
}
.profile-position p {
  font-size: 24px;
  line-height: 29px;
  color: #292929;
  margin-top: 5%;
}
.profile-position p span {
  color: #ffffff;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: #026193;
  padding: 8px;
  margin-right: 12px;
}
/* student story */
.student-story {
  background: url(images/story-bg.png.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5% 0%;
  margin: 5% 0%;
}
.student-story img {
  max-width: 100%;
  height: auto;
}
.argjira-info,
.argjira-video {
  width: 48%;
}
.student-story h3 {
  font-size: 32px;
  line-height: 39px;
  color: white;
}
.student-story h3 span {
  background: #fda14a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
}
.student-story p {
  font-size: 18px;
  line-height: 22px;
  color: #e0e0e0;
  padding: 10px 0px;
}
.student-story hr {
  height: 4px !important;
  background: #fda14a;
  width: 50px;
  opacity: 1;
  margin-left: 20px;
}
.mentor-and-student {
  font-size: 14px;
  line-height: 17px;
  color: #e0e0e0;
  margin: 3% 0%;
}
.mentor-and-student img {
  max-width: 100%;
  height: auto;
  margin-right: 12px;
}
.glide__arrows {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.argjira-info a {
  color: rgba(253, 161, 74, 1);
  text-decoration: underline;
}
/* companies */
.companies {
  background: #ffffff;
  padding: 5% 0%;
}
.companies h3 {
  font-size: 32px;
  line-height: 39px;
  color: rgba(71, 71, 71, 1);
  text-align: center;
}
.companies h3 span {
  color: #f88a4d;
  font-weight: 900;
}
.companies p {
  color: #e0e0e0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  margin: 16px;
}

/* pricing */
.pricing {
  margin: 5% auto;
}

.pricing-txt {
  width: 80%;
  margin: 50px auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  padding: 16px;
}

.pricing-txt p span {
  background: #f2a45c;
}

.pricing-txt p span.blue {
  background: none;
  color: #5697e0;
  font-weight: 700;
}

.pricing-txt button {
  background: linear-gradient(90deg, #3227b3 0%, #477bff 51.56%, #5697e0 91.67%);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
}

.pricing {
  margin: 5% auto;
}
.pricing h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-align: center;
  margin: 5% 0%;
}
.pricing-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 100px;
}
.pricing h2 span {
  color: rgba(253, 161, 74, 1);
  font-weight: 700;
  font-size: 38px;
}
.pricing-card {
  border: 1px solid rgba(253, 161, 74, 1);
  flex-basis: 28%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.pricing-top div:nth-child(1) {
  background: #1666ff;
  text-align: center;
  height: 160px;
  margin: 0 8px;
}
.pricing-top div:nth-child(1) h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fda14a;
  padding: 21px 11px 0px 11px;
}
.pricing-top div:nth-child(1) p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff !important;
  border-bottom: none !important;
  margin: 6px;
  padding: 0;
}
.pricing-top div p:nth-child(1) {
  color: rgba(121, 121, 121, 1) !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  /* height: 75px; */
}
.pricing-top p:nth-child(1) span.price {
  font-size: 24px;
  line-height: 29px;
  color: red;
}

.crossed, .not-crossed {
  position: relative;
  display: inline-block;
  color: rgba(57, 77, 255, 1);
  font-size: 24px;
  line-height: 29px;
}

.crossed::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.pricing-card p {
  border-bottom: 2px solid #fda14a;
  margin: 12px;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.pricing-bottom {
  text-align: center;
}
.pricing-bottom button:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  background: #94e5ff;
  border-radius: 10px;
  border: none;
  padding: 9px 23px;
}
.pricing-bottom p:nth-child(3) {
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  border: none;
  margin-top: 0;
}
.pricing-bottom div {
  background: #1a6aff;
  margin-top: 45px;
  padding-bottom: 16px;
}
.pricing-bottom img {
  margin-top: -35px;
}
.pricing-bottom button:last-child {
  background: #fda14a;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 9px 23px;
  font-weight: 700;
}
.most-popular {
  font-weight: 900;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background: #1394ca;
  border-radius: 8px 8px 0px 0px;
  padding: 11px 61px;
  position: absolute;
  top: -48px;
  width: 100%;
  z-index: -1;
}
.job-guarantee {
  background: linear-gradient(184.38deg, #056d9d 1.02%, #066ab1 58.4%);
}
.job-guarantee .pricing-top div:nth-child(1) {
  background: #ffffff;
}
.job-guarantee .pricing-top div:nth-child(1) p {
  margin: 0;
  padding: 0;
  color: #021007 !important;
}
.job-guarantee .pricing-top div p:nth-child(1) {
  color: white !important;
}
.job-guarantee .pricing-top p:nth-child(1) span {
  color: rgba(253, 161, 74, 1);
}

.job-guarantee .pricing-top p:nth-child(1) span.price {
  color: red;
}

.job-guarantee p {
  color: #ffffff;
}
.job-guarantee .pricing-bottom p:nth-child(3) {
  color: white;
}
.job-guarantee .pricing-bottom div {
  background: #fda14a;
}
.job-guarantee .pricing-bottom button:last-child {
  background: #1464ff;
}
.fast-track-price {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 29px !important;
  text-align: center !important;
  color: #fda14a !important;
}
.money-back {
  position: absolute;
  top: -50px;
  right: 0;
}
/* included */

.included {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.included h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.included p {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.included-list div {
  gap: 18px;
  align-items: center;
  margin: 10px 0;
}

.included div img {
  align-self: center;
  margin-left: 36px;
}
/* real experience */

.real-experience {
  width: 90%;
  margin: 50px auto;
}

.real-experience h3 {
  text-align: center;
  background: #1464ff;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
}

.experience-cards {
  display: flex;
}

.experience-card {
  flex-basis: 33.3%;
  padding: 20px 24px;
  border: 1px solid #1464ff;
}

.experience-card p:last-child {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.experience-head {
  background: #94e5ff;
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0;
  padding: 7%;
}

.experience-head p {
  color: #f88a4d;
  font-weight: 800;
  font-size: 26px;
}

.experience-head span {
  font-size: 16px;
}

.experience-card ul li {
  font-weight: 500;
  font-size: 24px;
  margin: 8px;
}
/* calculator */
.calculator {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding: 5% 0%;
  color: white;
  margin: 5%;
}
.calculator h3 {
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #e0e0e0;
}
.calculator h3 span {
  color: #31023b;
  font-weight: 800;
  padding: 8px;
  background: #fda14a;
}
.calculator input {
  visibility: hidden;
}
.calc-left {
  width: 100%;
}
.calc-right {
  width: 30%;
  margin-top: 5%;
}
.calc-left p,
.calc-right p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #e0e0e0;
  margin-bottom: 10px;
}
.choose-wrapper {
  background: linear-gradient(90deg, #ffac88 0%, #ff8716 136.84%);
  padding: 1px;
  border-radius: 8px;
}
.choose-inner {
  padding: 12px;
  background: #180020;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.choose-wrapper label {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  padding: 16px;
}
.choose-wrapper label span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.choose-wrapper label:hover {
  cursor: pointer;
  background: #ffffff !important;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.21);
  color: #474747 !important;
  border-radius: 8px;
}
.choose-wrapper .active {
  background: #ffffff !important;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.21);
  color: #474747 !important;
  border-radius: 8px;
}
.choose-wrapper label span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background: transparent !important;
}
.calc-price-wrapper {
  padding: 2px;
  width: 30%;
  margin: 5% auto 0% auto;
  border-radius: 12px;
}
.calc-price {
  padding: 2px;
  background: linear-gradient(90deg, #ffac88 0%, #ff8716 136.84%);
  border-radius: 12px;
  text-align: center;
}
.calc-price p {
  font-size: 18px;
  font-weight: 700;
  color: rgba(71, 71, 71, 1);
  margin: 0;
  background-color: white;
  border-radius: 12px;
  padding: 14px 32px;
}
.calculator-price-text {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #ffffff !important;
}
/* diploma */
.diploma {
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  border-radius: 12px;
}
.diploma-inner {
  border-radius: 12px;
  padding: 16px;
  background: white;
}
.diploma-header {
  padding: 32px;
  background: linear-gradient(90.3deg, #2870ff 25.57%, #94e5ff 100%);
  border-radius: 12px;
  color: #e0e0e0;
}
.diploma-header h3 {
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.diploma-header hr {
  height: 4px !important;
  background: rgba(2, 97, 147, 1);
  width: 50px;
  opacity: 1;
  margin-left: 10px;
}
.diploma-header p {
  font-size: 16px;
  line-height: 19px;
}
.diploma-header p span {
  font-weight: 700;
}
.diploma-card {
  width: 31%;
  padding: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  margin: 2% 0%;
  background: url(images/diploma-bg.png.webp);
  background-size: 100% 100%;
}
.diploma-card h4 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(71, 71, 71, 1);
  font-weight: 700;
  margin: 10px 0px;
}
.diploma-card h4 span {
  color: rgba(102, 102, 102, 1);
  font-weight: 500;
}
.diploma-card hr {
  height: 4px !important;
  background: rgba(253, 161, 74, 1);
  width: 50%;
  opacity: 1;
}
.diploma-card ul li {
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  margin: 2% 0%;
}
/* developers meetup */

.developers-meetup {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding: 50px 0;
  position: relative;
  margin: 5% 0%;
}

.developers-meetup h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #292929;
  position: relative;
  width: 90%;
  z-index: 1;
}

.developers-meetup h2 span {
  color: white;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.developers-meetup h2 span::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: rgba(253, 161, 74, 1);
  position: absolute;
  bottom: 0;
  left: -5px;
  z-index: -1;
}

.meetup-left {
  flex-basis: 62%;
}

.meetup-right img {
  width: 100%;
}

.meetup-right .img-label {
  padding: 7px;
  text-align: center;
  background: #fda14a;
  color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

.meetup-left .input-wrapper {
  display: flex;
  position: relative;
  margin: 8px 0 10px;
}

.meetup-form label {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.meetup-form button {
  background: #ff8716;
  color: #ffffff;
  width: 50%;
  border: none;
  border-radius: 4px;
  padding: 11px 0;
  font-weight: 900;
  font-size: 16px;
}

.meetup-left .input-wrapper input {
  width: 80%;
  background: #ffffff;
  border-radius: 4px;
  padding: 11px 10px;
  border: none;
  color: #c2c2c2;
}
/* learning advisor */
.learning-advisor {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding-top: 5%;
}
.learning-info {
  width: 60%;
}
.learning-advisor h3 {
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.learning-advisor h3 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 900;
}
.learning-advisor p {
  color: white;
  font-size: 18px;
  line-height: 22px;
  margin: 5% 0%;
}
.learning-card {
  background: url(images/learning-card-bg.png.webp);
  background-size: 100% 100%;
  padding: 16px;
  border-radius: 12px;
  width: 48%;
}
.learning-card h4 {
  padding: 10px;
  background: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  margin: 16px 0px;
}
.learning-card p {
  font-size: 16px;
  line-height: 19px;
  color: #e0e0e0;
}
.learning-info button {
  padding: 11px 18px;
  background: #fda14a;
  border-radius: 4px;
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  margin-top: 24px;
}
/* reasons */
.reasons {
  background: url(images/reasons-bg.png);
  background-size: 100% 100%;
  margin: 5% 0%;
  padding: 5% 0%;
}
.reason-left {
}
.reason-left h3 {
  font-size: 32px;
  line-height: 39px;
  color: #292929;
}
.reason-left h3 span {
  color: rgba(2, 97, 147, 1);
  font-weight: 900;
}
.reason-left hr {
  height: 4px !important;
  background: rgba(2, 97, 147, 1);
  width: 100px;
  margin-right: 20px;
  opacity: 1;
}
.reason-card {
  padding: 2px;
  border: 1px solid #fda14a;
  border-radius: 8px;
  margin-bottom: 2%;
}
.reason-card-inner {
  padding: 24px;
  background: linear-gradient(114.81deg, rgba(32, 0, 37, 0.45) -1.45%, rgba(106, 0, 122, 0.45) 100%);
  border-radius: 8px;
  backdrop-filter: blur(12px);
}
.reason-card-inner h4 {
  background: #fda14a;
  padding: 8px 24px;
  font-size: 24px;
  line-height: 29px;
  color: #292929;
  font-weight: 700;
}
.reason-card-inner p {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #e0e0e0;
}

.reason-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reason-left a {
  text-align: center;
}

.tiktok-video {
  margin: 5% 0;
  align-self: center;
}
.reasons-2 {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  padding: 5% 0%;
  margin: 5% 0%;
}

/* students-feedback */
.students-feedback h3 {
  font-size: 32px;
  line-height: 39px;
  color: #666666;
  text-align: center;
}
.students-feedback h3 span {
  font-weight: 700;
  color: rgba(248, 138, 77, 1);
}
.feedback-card {
  padding: 2px;
  background: url(images/feedback-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0%;
  height: 250px;
  position: relative;
}
.feedback-card-brown {
  background: url(images/feedback-brown-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.feedback-card p {
  font-size: 14px;
  color: #474747;
  line-height: 126.52%;
  padding: 16px;
}
.feedback-card p span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #026193;
}
.feedback-card-brown p span {
  color: rgba(248, 138, 77, 1);
}
.feedback-card .changer {
  background: #ff8716;
  position: absolute;
  right: -10px;
  top: -5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  transform: rotate(8.83deg);
  padding: 4px 12px;
}
.feedback-card .change {
  position: absolute;
  right: -10px;
  top: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #021007;
  background: #a8d0f5;
  transform: rotate(8.83deg);
  padding: 4px 32px;
}
/* register */
.star-percent-card {
  width: 30%;
  background: url(images/star-percent-bg.png);
  background-size: 100% 100%;
  padding: 16px;
  margin: 5% 0%;
}
.star-percent-card div {
  background: #394dff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 900;
  font-size: 80.3256px;
  line-height: 97px;
}
.star-percent-card p {
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}
.star-percent-card p span {
  font-weight: 700;
  box-shadow: 0px 6px 0px 0px #f88a4d;
}
.form-wrapper {
  width: 50%;
  margin: auto;
}
.form-wrapper h3 {
  font-size: 32px;
  line-height: 39px;

  color: #666666;
}
.form-wrapper span {
  color: rgba(2, 97, 147, 1);
  font-weight: 700;
}
.form-wrapper hr {
  height: 4px !important;
  background: rgba(2, 97, 147, 1);
  width: 50px;
  opacity: 1;
  margin-left: 24px;
}
.form-wrapper p {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.form-wrapper p span {
  font-size: 14px;
  line-height: 17px;
  color: red;
}
.form-wrapper label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #606060;
}
.form-wrapper input,
.form-wrapper select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(146, 189, 255, 1);
}
.form-wrapper button {
  background: #026193;
  border-radius: 4px;
  padding: 11px 18px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  margin: 2% 0%;
  width: 80%;
}
.form-wrapper small {
  color: #858585;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: block;
  margin: 5% 0%;
}
.enroll-in {
  margin: 5% 0%;
}
.enroll-in h3 {
  font-size: 32px;
  line-height: 39px;
  color: #858585;
}
.enroll-in h3 span {
  color: rgba(248, 138, 77, 1);
  font-weight: 700;
}
.enroll-in-info {
  width: 22%;
  margin-top: 24px;
}
.enroll-in-info p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #474747;
  margin: 3% 0%;
  height: 60px;
}
.enroll-in-info hr {
  height: 2px !important;
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);
  width: 100%;
  opacity: 1;
}
.jump {
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.jump p {
  color: #f88a4d !important;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    color: #f88a4d;
  }
  100% {
    transform: translateY(0);
  }
}
/* logos */
.logos {
  background: linear-gradient(90.3deg, #1060ff 0%, #94e5ff 52.08%);

  padding: 5% 0%;
}
.logos h2 {
  font-size: 32px;
  line-height: 39px;
  color: rgba(255, 255, 255, 1);
}
.logos h2 span {
  color: #026193;
  font-weight: 800;
}
.logos hr {
  height: 4px !important;
  background: rgba(2, 97, 147, 1);
  width: 50px;
  opacity: 1;
  margin-left: 20px;
}
/* footer */
footer {
  background: linear-gradient(92.06deg, #18001f 0%, #2a1930 100.76%);
  padding: 3% 0%;
}
.footer-element {
  width: 30%;
}
footer h4 {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 0;
}
footer p {
  font-size: 12px;
  line-height: 15px;
  color: #c2c2c2;
}
.academies a {
  font-size: 14px;
  line-height: 17px;
  color: #c2c2c2 !important;
  text-decoration: none;
  display: block;
  margin: 2% 0%;
}
.academies .active-academy {
  color: rgba(248, 138, 77, 1) !important;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}
.social a {
  margin-right: 10px;
}
.bottom {
  padding: 16px 0px;
  background: #0e0012;
}
.bottom p {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #a3a3a3;
  margin: 0;
}
.bottom p span {
  color: #fed74b;
}
