@media only screen and (max-width: 1280px) {
  .behance-card .behance-text {
    margin-top: 25%;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-overflow {
    overflow-x: hidden !important;
  }
  .container-section {
    width: 90%;
    margin: auto;
  }
  .w-sm-50 {
    width: 50%;
  }
  .spots p {
    font-size: 14px;
    line-height: 19px;
  }
  /* modal pop-up */
  /* .modal-load {
    top: 5% !important;
  }
  .modal-body {
    display: block;
  }
  .modal-dialog {
    max-width: 100% !important;
  }
  .modal-content {
    border-radius: 20px;
    padding: 10px;
  }
  .modal ._form-content h3 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  .modal ._form-content button {
    background: rgba(255, 122, 0, 1);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 10px 20px;
  }
  .modal ._form_element {
    width: 100%;
    margin: 0 !important;
  }
  .modal ._form-content p {
    font-size: 16px;
  } */
  /* navbar */
  .nav-link {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px !important;
  }
  .dropdown {
    text-align: center;
    padding: 10px 0px;
  }
  .dropdown-menu {
    left: unset !important;
    right: 0 !important;
    border-radius: 8px !important;
    box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
    border: 1px solid #42e8e0 !important;
    padding: 16px 16px 0 !important;
  }
  .dropdown-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606060 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 12px !important;
    margin-bottom: 16px;
    border-radius: 8px !important;
    text-align: center !important;
  }
  .navbar-yellow p,
  .navbar-yellow a {
    font-size: 10px;
    line-height: 12px;
  }
  /* hero */
  .hero > span {
    font-size: 16px;
    line-height: 19px;
    padding: 8px;
    display: flex;
  }
  .hero h1 {
    font-size: 32px;
    line-height: 100%;
    margin: 0% 0%;
    padding: 5% 0%;
    width: 100%;
  }
  .header-left {
    width: 100%;
    margin-right: 0;
  }
  /* career cards */
  .career-card h4 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .career-card p {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 0px;
  }
  /* navigation */
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px;
    margin: 5% auto;
    position: sticky;
    top: 145px;
    z-index: 9999999;
    gap: 0;
  }
  .navigation div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navigation button {
    font-size: 12px;
    line-height: 15px;
  }
  .mobile-navigation-height {
    height: 0;
    position: relative;
    flex-direction: column !important;
    /* visibility: hidden; */
    align-items: start !important;
  }
  .navigation-w {
    width: 100% !important;
  }
  .navigation-btn {
    display: none;
  }
  /* free video */
  .free-video-left {
    padding: 24px 17px;
  }
  .free-video div p {
    font-size: 14px;
    line-height: 17px;
  }
  .free-video div p:nth-child(1) {
    padding: 8px;
    background: #ffffff;
    color: #666666;
  }
  .free-video div h3 {
    font-size: 32px;
    line-height: 97.52%;
  }
  .free-video-left label {
    font-size: 14px;
    line-height: 17px;
  }
  .free-video-left button {
    background: #ca58ff;
    border-radius: 4px;
    border: none;
    padding: 8px;
    color: #0f183d;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    right: 0px;
    top: 0px;
    margin: 3% 0%;
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
  }
  .input-wrapper input {
    width: 100%;
    background: #001050;
    border-radius: 4px;
    padding: 11px 10px;
    border: none;
  }
  /* success formula */

  .success-formula {
    background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
    border-bottom: 15px solid #ffac88;
    margin-bottom: 1000px;
    padding: 55px 0;
  }

  .success-formula .card-container {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 200px;
  }

  .success-formula .success-card {
    background: #ffffff;
    padding: 24px 20px;
    flex-basis: 100%;
    min-height: 350px;
    box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
  }

  .success-formula h2 {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
  }

  .success-card p {
    font-size: 14px;
  }

  .bonus-container {
    padding: 25px 16px;
    margin-bottom: 50px;
  }

  .bonus-pack h2 {
    font-size: 20px;
  }

  .bonus-pack ul li {
    font-size: 16px;
    line-height: 19px;
  }
  .formula-container {
    width: 90%;
    margin: auto;
  }
  /* modules */
  .modules {
    width: 90%;
    margin: auto;
  }
  .modules-header {
    border: 8px solid #ffffff;
  }
  .modules-header h2 {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
  }
  .modules-header p {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }
  .modules .list-group-item.active,
  .modules .list-group-item:hover {
    border-right: 0;
    border-bottom: 5px solid #394dff;
  }
  .modules .list-group-item:hover > span {
    border: 2px solid #394dff;
  }
  .modules .list-group-item.active span {
    border: 2px solid #394dff;
  }
  .modules .list-group-item {
    font-size: 18px;
    line-height: 22px;
  }
  .modules .list-group-item span {
    border: 2px solid #a3a3a3;
    padding: 7.70176px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 17px;
  }
  .modules .tab-content {
    padding: 12px;
  }
  .modules .tab-content .duration {
    font-size: 18px;
    line-height: 22px;
    color: #858585;
  }
  .modules .tab-content .duration span {
    font-size: 18px;
    line-height: 22px;
    padding: 4px 8px;
  }
  .modules .tab-content h4 {
    font-size: 16px;
    line-height: 19px;
  }
  .modules .tab-content p {
    font-size: 14px;
    line-height: 17px;
  }
  .modules .tab-content .which-module {
    font-size: 18px;
    line-height: 22px;
    max-width: 50%;
  }
  .modules .tab-content .fast-track div:nth-child(1) {
    font-size: 16px;
    line-height: 19px;
  }
  .modules .mobile-collapse {
    padding: 12px 8px 12px 16px;
    background: #ffffff;
    border-bottom: 5px solid #394dff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    font-weight: 600;
  }
  .list-group {
    background-color: white;
  }
  /* practical projects */

  .practical-projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 5% 0%;
  }

  /* practical-projects */

  .practical-projects {
    width: 90%;
    margin: auto;
    padding: 5% 0%;
  }
  .practical-left,
  .practical-right {
    width: 100%;
  }
  .practical-projects h3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 50px;
  }
  .practical-projects p {
    font-size: 14px;
    line-height: 17px;
  }
  .practical-card {
    width: 100%;
  }
  .practical-card-inner {
    padding: 10px;
    background: #ffffff;
    border-radius: 6px;
  }
  .practical-card-inner div {
    display: flex;
    width: 55%;
    justify-content: space-between;
  }
  .practical-card-inner div h4 {
    line-height: 17px;
    padding-bottom: 10px;
    padding-right: 25px;
  }
  .practical-card-inner div span {
    font-weight: 900;
    font-size: 17.3077px;
  }
  .practical-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }

  /* guarantee */

  .guarantee {
    margin: 50px auto;
  }

  .guarantee h2 {
    font-size: 24px;
  }

  .guarantee p {
    font-size: 14px;
  }

  .guarantee-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .guarantee-container img {
    align-self: center;
  }

  .guarantee button {
    width: 100%;
  }

  /* through-years */
  .through-years {
    margin: 5% auto;
  }
  .through-years h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .through-years h2 span {
    font-weight: 800;
    color: #394dff;
  }
  .through-years img {
    width: 100%;
  }
  .through-years p {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 12px;
    backdrop-filter: none;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .through-years div div {
    width: 100%;
    margin-left: 0%;
  }
  /* practical-projects */
  .practical-projects {
    width: 90%;
    margin: auto;
    padding: 5% 0%;
  }
  .practical-projects h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .practical-projects p {
    font-size: 14px;
    line-height: 17px;
  }
  .practical-card {
    width: 100%;
  }
  .practical-card-inner {
    padding: 10px;
    background: #ffffff;
    border-radius: 6px;
  }
  .practical-card-inner div {
    display: flex;
    width: 55%;
    justify-content: space-between;
  }
  .practical-card-inner div h4 {
    line-height: 17px;
    padding-bottom: 10px;
    padding-right: 25px;
  }
  .practical-card-inner div span {
    font-weight: 900;
    font-size: 17.3077px;
  }
  .practical-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }
  /* success stories */

  .success-stories {
    padding-bottom: 0;
  }
  .success-stories h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .story-card {
    background: #14025e;
    text-align: center;
    border-radius: 5px;
    min-height: auto;
  }

  .story-card div.header {
    padding: 7px 24px;
    height: auto;
  }

  .story-card h3 {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }

  .story-card p {
    height: auto;
  }

  .story-card button {
    font-weight: 600;
  }
  .story-card button a {
    color: white;
  }
  .story-card button:hover {
    background: #ffb671;
  }

  .success-card button a {
    text-decoration: none;
    color: #ffffff;
  }

  .success-stories .glide__arrows {
    text-align: center;
    position: relative;
  }
  /* hire */
  .hire-program {
    padding-top: 10%;
    margin-top: 100px;
  }

  .hire-program h2 {
    font-size: 24px;
    line-height: 50px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .hire-program p {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    margin: 4% 0%;
  }
  .hire-table {
    backdrop-filter: none;
    padding: 2px;
  }
  .hire-table-inner {
    padding: 16px 10px;
    background: transparent;
    backdrop-filter: none;
    background: linear-gradient(97.84deg, rgba(1, 0, 1, 0.63) 0%, rgba(77, 0, 97, 0.63) 100%);
  }

  .hire-table-inner .col-2 span {
    font-size: 16px;
    line-height: 19px;
  }
  .hire-table-inner h4 {
    font-size: 16px;
    line-height: 19px;
    height: auto;
  }
  .hire-table-inner hr {
    background-color: rgba(254, 215, 75, 1);
    opacity: 1;
    height: 4px !important;
  }
  .hire-table-inner p {
    height: auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }
  .hire-me-info {
    padding-bottom: 30px !important;
  }
  .hire-program .logo-girl {
    top: 200px;
    max-width: 100%;
  }
  .hire-mobile {
    padding-bottom: 250px;
  }

  .hire-after {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10% 0;
  }

  .hire-after h3 {
    font-size: 22px;
    line-height: 27px;
    margin: 5% 0;
  }

  .hire-after p.hire-heading {
    font-size: 16px;
  }

  .hire-after hr {
    width: 50%;
  }

  .hire-after .hire-left div p,
  .hire-after .hire-right div p {
    font-size: 14px;
    line-height: 17px;
  }

  .hire-program .logo-girl {
    position: absolute;
    right: auto;
    left: 0;
    top: -25%;
    z-index: 1;
  }
  /* behance */
  .behance-profiles h2 {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    margin-top: 80px;
  }
  /* experts */
  .experts h2 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 5%;
  }
  .expert-card-inner {
    padding: 10px;
  }
  .expert-card-inner h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .expert-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }
  .expert-card-inner img:nth-child(1) {
    width: 100px;
  }
  /* sprint */
  .sprint h2 {
    font-size: 24px;
    text-align: left;
    margin-top: 32px;
  }
  .sprint h3 {
    text-align: left;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
  }
  .table div:nth-child(1) h4 {
    width: 25%;
  }
  .table div:nth-child(1) h4:nth-child(2) {
    width: 50%;
  }
  .table div:nth-child(1) h4 {
    font-size: 14px;
    font-style: normal;
    padding: 22px 12px;
  }
  .table div p,
  .table div a {
    width: 25%;
    padding: 22px 12px;
  }
  .table div p:nth-child(2) {
    width: 50%;
    padding: 22px 12px;
  }
  .table div p {
    font-size: 14px;
  }
  .table div a {
    font-size: 12px;
  }

  /* real projects */
  .real-projects h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .real-projects-card {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .real-projects-card img {
    max-width: 100%;
    height: auto;
  }
  .real-projects-card p:nth-child(2) {
    font-size: 16px;
    line-height: 19px;
  }
  .real-project-bg {
    height: 280px;
    z-index: -1;
    top: -530px;
    width: 120%;
    margin-left: -8%;
    margin-bottom: -200px;
  }
  .glide-real-projects .glide__arrows {
    bottom: 0 !important;
    position: relative;
    text-align: center;
    left: 0;
  }
  .real-projects-card a {
    visibility: visible !important;
  }
  .real-projects-card div:hover {
    transform: scale(1);
  }

  /* team projects */
.team-work h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  width: 70%;
  margin: auto;
}
.team-work h2 span {
  color: #394dff;
  font-weight: bold;
}
.team-project {
  padding: 5% 0%;
  margin: 5% 0%;
}
.team-project p {
  font-size: 14px;
}
.team-project a {
  font-size: 14px;
}
.team-project img {
  height: 120px;
}

  /* client-feedback */
  .client-feedback {
    width: 85%;
    margin: 5% auto;
  }
  .client-feedback h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .client-feedback .client {
    max-width: 30%;
  }
  .client-feedback-card {
    background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
    border-radius: 24px;
    padding: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .client-feedback .glide__slide {
    filter: blur(0);
  }
  .client-feedback-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .client-feedback-card div p:nth-child(2) {
    font-size: 12px;
    line-height: 14px;
  }
  .client-feedback-card div p:nth-child(4) {
    font-size: 10px;
    line-height: 12px;
    color: #c2c2c2;
  }
  .client-feedback-card div img {
    max-width: 20px;
  }
  .client-feedback .glide__arrows {
    text-align: center;
  }
  .client-feedback .glide__arrow--left {
    position: relative;
    left: 0;
  }
  .client-feedback .glide__arrow--right {
    position: relative;
    right: 0;
  }

  /* student story */
  .student-story .d-flex div {
    width: 100%;
  }
  .student-story h2 {
    font-size: 24px;
    line-height: 29px;
    width: 95%;
    margin: 5% auto;
  }
  .student-story iframe {
    height: 200px;
    border-radius: 6.9527px;
    border: 1px solid rgba(146, 189, 255, 1);
  }
  .student-story h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .student-story p {
    font-size: 16px;
    line-height: 19px;
  }
  .student-story hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
  }
  .student-story .glide__arrows {
    bottom: 0;
    position: relative;
    text-align: center;
    left: 0;
  }
  .glide-our-students .glide__arrows {
    text-align: center;
    position: relative;
    bottom: 0 !important;
    left: 0 !important;
  }
  .our-students-card .hired {
    width: 100px;
  }
  /* profile - position */
  .profile-position {
    background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
    padding: 5% 0%;
  }
  .profile-position h3 {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
  .profile-position .percent {
    padding: 24px;
    border-bottom: 4px solid #fda14a;
    border-left: none;
    width: 100%;
    font-size: 48px;
    line-height: 58px;
  }
  .profile-position .percent span {
    font-size: 20px;
    line-height: 24px;
  }
  .profile-position p {
    font-size: 16px;
    line-height: 19px;
  }
  .profile-position p span {
    font-size: 48px;
    line-height: 58px;
    padding: 4px 8px;
    display: block;
    margin: 3% 0%;
  }
  /* companies */
  .companies {
    padding: 5% 0%;
  }
  .companies h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .companies p {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 4px;
    margin: 10px;
  }

  /* portfolio */
  .portfolio {
    padding: 5% 0%;
  }
  .portfolio h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .portfolio h2 span {
    font-weight: 800;
  }
  .portfolio hr {
    margin-left: auto;
  }
  .portfolio p {
    font-size: 14px;
    line-height: 17px;
  }
  .portfolio-wrapper {
    border-radius: 8px;
  }
  .portfolio-inner {
    border-radius: 8px;
  }
  .portfolio-left {
    padding: 16px 8px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
  }
  .portfolio-left h4 {
    font-size: 16px;
    line-height: 19px;
  }
  .portfolio-left p {
    font-size: 12px;
    line-height: 15px;
  }

  .portfolio-right {
    width: 100%;
    padding: 16px;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
  }
  .portfolio-left .mobile-portfolio h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fed74b;
    text-transform: uppercase;
  }
  .portfolio-left .mobile-portfolio h5 {
    font-size: 18px;
    line-height: 22px;
    color: #e0e0e0;
  }
  .portfolio-left .mobile-portfolio hr {
    height: 2px !important;
    margin: 0;
    opacity: 1;
    width: 100px;
  }
  .portfolio-left .mobile-portfolio p {
    font-size: 14px;
    line-height: 17px;
    background: none;
    padding: 10px 0px;
  }
  .portfolio-ul .d-flex p:nth-child(1) {
    width: 100%;
  }
  .portfolio-ul .d-flex div {
    width: 100%;
  }
  .portfolio-ul .d-flex .d-flex {
    height: auto;
  }
  .portfolio-ul .d-flex div p {
    width: 100% !important;
    margin: 0;
  }
  .portfolio-ul hr {
    margin: 5px 0%;
  }
  .tik-tok-m {
    margin-top: 0;
  }
  /* hire-me program */
  .hire-me-program {
    padding: 10% 0%;
  }
  .hire-me-program h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .hire-me-program span {
    margin-right: 10px;
  }
  .hire-status {
    width: 100%;
    margin-top: 5%;
  }
  .hire-status h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .hire-status hr {
    width: 50%;
  }
  .hire-p {
    font-size: 16px;
    line-height: 19px;
  }
  .hire-status div p {
    font-size: 14px;
    line-height: 17px;
    padding-left: 10px;
  }
  /* pricing */
  .pricing {
    margin: 5% auto;
  }
  .pricing h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .pricing-wrapper {
    display: flex;
    flex-direction: column;
  }
  .pricing h2 span {
    font-weight: 700;
    font-size: 26px;
  }
  .pricing-card {
    width: 100%;
    margin: 10% 0%;
  }
  .pricing-top div:nth-child(1) {
    height: 180px;
  }
  .pricing-bottom button:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background: #394dff;
    border-radius: 10px;
    border: none;
    padding: 9px 23px;
  }
  .pricing-bottom p:nth-child(3) {
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    border: none;
    margin-top: 0;
  }
  .pricing-bottom div {
    background: #153363;
    margin-top: 45px;
    padding-bottom: 16px;
  }
  .pricing-bottom img {
    margin-top: -35px;
  }
  .pricing-bottom button:last-child {
    background: #fda14a;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 9px 23px;
    font-weight: 700;
  }
  .most-popular {
    font-weight: 900;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    background: #394dff;
    border-radius: 8px 8px 0px 0px;
    padding: 11px 61px;
    position: absolute;
    top: -48px;
    width: 100%;
    z-index: -1;
  }
  .job-guarantee {
    background: linear-gradient(186.22deg, #0f2f56 1.19%, #0866c6 99.53%);
  }
  .job-guarantee .pricing-top div:nth-child(1) {
    background: #ffffff;
    padding: 0;
  }
  .job-guarantee .pricing-top div:nth-child(1) p {
    margin: 0;
    padding: 0;
    color: #666666 !important;
  }
  .job-guarantee .pricing-top div p:nth-child(1) {
    color: white !important;
  }
  .job-guarantee .pricing-top p:nth-child(1) span {
    color: rgba(253, 161, 74, 1);
  }
  .job-guarantee p {
    color: #ffffff;
  }
  .job-guarantee .pricing-bottom button:nth-child(2) {
    background: #fda14a;
  }
  .job-guarantee .pricing-bottom p:nth-child(3) {
    color: white;
  }
  .job-guarantee .pricing-bottom div {
    background: #fda14a;
  }
  .job-guarantee .pricing-bottom button:last-child {
    background: #0f2f56;
  }
  /* included */
  .included h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }

  .included p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* real experience */

  .real-experience {
    width: 80%;
  }

  .real-experience h3 {
    font-size: 18px;
  }

  .experience-cards {
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    flex-basis: 100%;
  }

  .experience-head p {
    font-size: 22px;
  }

  .experience-head span {
    font-size: 16px;
  }

  .experience-card ul li {
    font-size: 16px;
  }

  /* challenge */
  .challenge {
    padding: 24px 17px 200px 17px;
    background: linear-gradient(107.66deg, #12023f 0.54%, #1900af 87.66%);
    border-radius: 12px;
    position: relative;
    margin: 10% auto 250px auto;
  }
  .challenge h3 {
    font-size: 32px;
    line-height: 39px;
  }
  .challenge h3 span {
    font-weight: 900;
    color: rgba(253, 161, 74, 1);
  }
  .challenge p {
    font-size: 14px;
    line-height: 17px;
  }
  .challenge small {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
  .challenge img {
    max-width: 100%;
    height: auto;
    position: absol;
    right: 0;
    top: auto;
    bottom: -180px;
  }
  .challenge input {
    background: #030095;
    border-radius: 4px;
    padding: 11px 10px;
    width: 100%;
    border: none;
    color: #c2c2c2;
  }
  .challenge ._field-wrapper {
    width: 100% !important;
  }
  /* calculator */
  .calculator {
    padding: 5% 0%;
    color: white;
  }
  .calculator h3 {
    text-align: left;
    font-size: 24px;
    line-height: 29px;
  }
  .calculator h3 span {
    display: block;
  }
  .calc-left {
    width: 100%;
  }
  .calc-right {
    width: 100%;
    margin-top: 24px;
  }
  .choose-academy-wrapper .choose-inner {
    display: block;
  }
  .choose-academy-wrapper label {
    width: 100%;
  }
  .calc-price-wrapper {
    width: 100%;
  }
  .calc-price p {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }
  /* diploma */
  .diploma {
    width: 90%;
  }
  .diploma-inner {
    border-radius: 12px;
    padding: 10px;
  }
  .diploma-header {
    padding: 10px;
  }
  .diploma-header h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .diploma-header h3 span {
    background: linear-gradient(90deg, rgba(202, 88, 255, 1) 0%, rgba(146, 189, 255, 1) 136.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
  }
  .diploma-header hr {
    height: 4px !important;
    background: linear-gradient(90deg, #92bdff 0%, #ca58ff 136.84%);
    width: 50px;
    opacity: 1;
    margin-left: 10px;
  }
  .diploma-header p {
    font-size: 16px;
    line-height: 19px;
  }
  .diploma-card {
    width: 100%;
    padding: 10px;
  }
  .diploma-card hr {
    height: 4px !important;
    background: linear-gradient(90deg, #92bdff 0%, #ca58ff 136.84%);
    width: 50%;
    opacity: 1;
  }
  .diploma-card ul li {
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0%;
  }
  /* hybrid */
  .hybrid {
    padding: 32px 17px;
    margin: 5% auto;
  }
  .hybrid h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .hybrid p {
    font-size: 18px;
    line-height: 22px;
  }
  /* meetup */
  .meetup {
    padding: 32px 12px;
    margin: 10% auto;
  }
  .meetup h3 {
    font-size: 28px;
    line-height: 120%;
    color: #ffffff;
  }
  .meetup img {
    max-width: 100%;
    height: auto;
    margin: 5% 0%;
  }
  .meetup button {
    width: 100%;
  }
  /* learning advisor */
  .learning-info {
    width: 100%;
  }
  .learning-advisor h3 {
    font-size: 32px;
    line-height: 39px;
  }
  .learning-advisor p {
    font-size: 16px;
    line-height: 19px;
  }
  .learning-card {
    width: 100%;
    margin: 3% 0%;
  }
  .learning-card h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .learning-card p {
    font-size: 14px;
    line-height: 17px;
  }
  .learning-info button {
    width: 100%;
    margin-bottom: 30px;
  }
  /* reasons */
  .reasons {
    background: url(images/reasons-mobile.png);
    background-size: 100% 100%;
    margin: 5% 0%;
    padding: 5% 0%;
    background-repeat: no-repeat;
  }
  .reason-left h3 {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 24px;
  }
  .reason-left hr {
    display: none;
  }
  .reason-card-inner {
    padding: 10px;
    backdrop-filter: blur(12px);
  }
  .reason-card-inner h4 {
    font-size: 16px;
    line-height: 19px;
  }
  .reason-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }
  /* our students */
  .our-students-heading {
    height: 328px;
    padding-right: 20%;
    margin: 12px 0px;
  }
  .our-students-heading h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .our-students-card {
    padding: 9.07986px;
    border-radius: 6.05324px;
    background: #ffffff;
    height: 328px;
  }
  .our-students-card div.d-flex p {
    font-size: 14px;
    line-height: 17px;
  }
  .our-students-card p {
    font-size: 16px;
    line-height: 19px;
  }
  .fb-img {
    height: 486px;
    margin: 12px 0px;
    max-width: 100%;
  }
  .our-students-card a {
    font-size: 12px;
  }
  /* register */
  .register h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .star-percent-card {
    width: 100%;
    padding: 16px;
    margin: 5% 0%;
  }
  .star-percent-card p {
    font-size: 14px;
    line-height: 17px;
  }
  .form-wrapper {
    width: 100%;
    margin: 10% 0%;
  }
  .form-wrapper hr {
    height: 4px !important;

    width: 50px;
    opacity: 1;
    margin-left: 24px;
  }
  .form-wrapper p {
    font-size: 14px;
    line-height: 17px;
  }
  .form-wrapper p span {
    font-size: 12px;
    line-height: 15px;
  }
  .form-wrapper button {
    width: 100%;
  }
  .enroll-in-info {
    width: 100%;
  }
  .enroll-in-info p {
    font-size: 16px;
    line-height: 19px;
    height: auto;
  }
  /* logos */
  .logos {
    padding: 3% 0%;
  }
  .logos h2 {
    font-size: 24px;
    line-height: 29px;
  }
  /* footer */
  footer {
    padding: 3% 0%;
  }
  .footer-element {
    width: 100%;
    margin: 3% 0%;
  }
  footer h4 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 0;
  }
  footer p {
    font-size: 12px;
    line-height: 15px;
    color: #c2c2c2;
  }
  .academies a {
    font-size: 14px;
    line-height: 17px;
    color: #c2c2c2 !important;
    text-decoration: none;
    display: block;
    margin: 2% 0%;
  }
  .academies .active-academy {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
  }
  .social a {
    margin-right: 10px;
  }
  .bottom {
    padding: 8px 17px;
  }
  .bottom p {
    font-size: 10px;
    line-height: 12px;
  }
  .bottom p span {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .behance-card .behance-text {
    margin-top: 60px;
  }
  .glide-behance .glide__arrows {
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    transform: none;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1.five-cols {
    width: 14%;
  }
}

@media (min-width: 992px) {
  .collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}
