@media only screen and (max-width: 1440px) {
  .career-paths .col-lg-2 {
    width: 21% !important;
  }

  .career-paths .col-lg-6 {
    width: 63% !important;
  }

  .career-paths .offset-lg-3 {
    margin-left: 17% !important;
  }

}

@media only screen and (max-width: 1024px) {
  /* success program */
  .success-formula .container-section {
    width: 90%;
  }

  .success-skills div p {
    text-align: center;
  }

  .tuition-label.right {
    right: -40%;
  }

  .tuition-label.left {
    left: -30%;
  }
}

@media only screen and (max-width: 992px) {
  .mobile-overflow {
    overflow-x: hidden !important;
  }
  .container-section {
    width: 90%;
    margin: auto;
  }
  .w-sm-50 {
    width: 50%;
  }
  .spots p {
    font-size: 14px;
    line-height: 19px;
  }

  .break--sm {
    display: block;
  }

  .background-1,
  .background-2,
  .background-3 {
    background-size: cover;
  }
/* modal pop-up */
/* .modal-load {
  top: 5% !important;
}
.modal-body{
  display: block;
}
.modal-dialog{
  max-width: 100% !important;
}
.modal-content {
  border-radius: 20px;
  padding: 10px;
}
.modal ._form-content h3 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.modal ._form-content button{
  background: rgba(255, 122, 0, 1);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 20px;
}
.modal ._form_element {
  width: 100%;
  margin: 0 !important;
}
.modal ._form-content p {
  font-size: 16px;
} */
.modal-load h3 {
  font-size: 16px;
}
  /* navbar */
  .nav-link {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px !important;
  }
  .dropdown {
    text-align: center;
    padding: 10px 0px;
  }
  .dropdown-menu {
    left: unset !important;
    right: 0 !important;
    border-radius: 8px !important;
    box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
    border: 1px solid #42e8e0 !important;
    padding: 16px 16px 0 !important;
  }
  .dropdown-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #606060 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 12px !important;
    margin-bottom: 16px;
    border-radius: 8px !important;
    text-align: center !important;
  }
  .navbar-blue p,
  .navbar-blue a {
    font-size: 10px;
    line-height: 12px;
  }
  /* hero */
  .hero .header-left > span {
    font-size: 16px;
    line-height: 19px;
    padding: 8px;
    display: flex;
  }
  .hero h1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0% 0%;
    padding: 5% 0%;
    width: 100%;
  }
  .header-left {
    width: 100%;
    margin-right: 0;
  }
  .hero button {
    width: 100%;
    margin-bottom: 48px;
  }

  /* navigation */
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px;
    position: sticky;
    top: 127px;
    z-index: 9999999;
    gap: 0;
  }
  .navigation div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  .navigation button {
    font-size: 12px;
    line-height: 15px;
    width: 40%;
  }

  .mobile-navigation-height {
    height: 0;
    position: relative;
    flex-direction: column !important;
    /* visibility: hidden; */
    align-items: start !important;
  }

  .active-navigationn {
    margin-bottom: 16px;
  }

  .navigation-w {
    width: 100% !important;
  }
  .navigation-btn {
    display: none;
  }

  /* success formula */
  .success-formula {
    margin-bottom: 1000px;
    padding: 55px 0;
  }

  .success-formula .card-container {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 200px;
  }

  .success-formula .success-card {
    background: #ffffff;
    padding: 24px 20px;
    flex-basis: 100%;
    min-height: 350px;
    box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 7px 6px 26px 4px rgba(0, 0, 0, 0.63);
  }

  .success-formula h2 {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
  }

  .success-card p {
    font-size: 14px;
  }

  .success-card-hover:hover {
    background: #ffffff;
    transform: none;
  }

  .success-card-hover:hover h4 span,
  .success-card-hover:hover p {
    color: #474747;
  }

  .success-card-hover:hover h4 span {
    color: #474747;
  }

  .success-card-hover:hover hr {
    background: #59C4D1;
  }

  .success-formula .success-card.left {
    border-right: none;
  }

  .success-formula .success-card.middle {
    border-right: none;
    border-left: none;
  }

  .success-formula .success-card.right {
    border-left: none;
  }
    /* free video */
    .free-video-left {
      padding: 24px 17px;
    }
    .free-video div p {
      font-size: 14px;
      line-height: 17px;
    }
    .free-video div p:nth-child(1) {
      padding: 8px;
      background: #ffffff;
      color: #666666;
    }
    .free-video div h3 {
      font-size: 32px;
      line-height: 97.52%;
    }
    .free-video-left label {
      font-size: 14px;
      line-height: 17px;
    }
    .free-video-left button {
      border-radius: 4px;
      border: none;
      padding: 8px;
      color: #0f183d;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      position: relative;
      right: 0px;
      top: 0px;
      margin: 3% 0%;
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 10px;
    }
    .input-wrapper input {
      width: 100%;
      background: #001050;
      border-radius: 4px;
      padding: 11px 10px;
      border: none;
    }

  /* bonus pack */


  .bonus-pack .bonus-container {
    width: 100%;
    border-radius: 0px;
    padding: 25px 16px;
    margin-bottom: 50px;
  }

  .bonus-pack .bonus-container div {
    width: 90%;
    text-align: center;
  }

  .bonus-pack h2 {
    font-size: 20px;
  }

  .bonus-pack ul li {
    font-size: 16px;
    line-height: 19px;
  }

  .bonus-pack button {
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 0;
    font-size: 20px;
    transition: 0.2s ease-in;
    width: 100%;
  }
  

  /* modules */

  .modules {
    width: 95%;
    margin: 15% auto;
  }

  .modules h2 {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    margin-bottom: 8px;
  }

  .modules .list-group-item {
    font-size: 16px;
    line-height: 22px;
    margin: 8px 0;
    min-height: 70px;
  }

  .modules .list-group-item.active,
  .modules .list-group-item:hover {
    margin: 8px 0;
  }
  .modules .tab-content {
    padding: 12px;
  }

  .modules .tab-pane ul li {
    font-size: 14px;
  }

  .modules .tab-pane > span {
    font-size: 12px;
  }

  .modules .tab-content p span {
    font-size: 14px;
  }

  .modules .tab-content h4 {
    font-size: 16px;
    line-height: 19px;
  }

  .modules .tab-content p {
    font-size: 14px;
    line-height: 17px;
  }

  .modules .tab-content .which-module {
    font-size: 16px;
    line-height: 22px;
  }

  .modules .mobile-collapse {
    padding: 12px 8px 12px 16px;
    background: #ffffff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    font-weight: 600;
  }

  .list-group {
    background-color: white;
  }

  /* guarantee */

  .guarantee {
    margin: 50px auto;
  }

  .guarantee h2 {
    font-size: 24px;
    width: 100%;
  }

  .guarantee p {
    font-size: 14px;
  }

  .guarantee-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0;
  }

  .guarantee-container img {
    align-self: center;
  }

  .guarantee button {
    width: 100%;
    padding: 8px 0;
  }

  .modules p {
    margin-top: 12px;
  }
  .modules p span {
    font-size: 16px;
    line-height: 18px;
  }
  
  .mobile-collapse {
    background: #ffffff;
    color: #008E9B!important;
    border: 2px solid #008E9B;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 12px;
    color: #ffffff;
    border-radius: 8px;
    margin: 12px 0%;
  }
  /* practical-projects */
  .practical-projects {
    width: 90%;
    margin: auto;
    padding: 5% 0%;
  }
  .practical-projects h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .practical-projects p {
    font-size: 14px;
    line-height: 17px;
  }
  .practical-card {
    width: 100%;
    padding: 12px 12px;
  }
  .practical-card-inner {
    padding: 10px;
    border-radius: 6px;
  }
  .practical-card-inner div {
    display: flex;
    width: 77%;
    justify-content: flex-start;
  }
  .practical-card-inner div h4 {
    line-height: 17px;
    padding-bottom: 10px;
    padding-right: 25px;
  }
  .practical-card-inner div span {
    font-weight: 900;
    font-size: 17.3077px;
  }
  .practical-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }

  /* experts */

  .experts {
    padding-bottom: 50px
  }

  .experts h2 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 5%;
  }
  .expert-card-inner {
    padding: 10px;
  }
  .expert-card-inner h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .expert-card-inner p {
    font-size: 14px;
    line-height: 17px;
  }
  .expert-card-inner img:nth-child(1) {
    width: 100px;
  }

/* alumni */

.alumni {
  margin: 10% auto;
}

.alumni h2 {
  font-size: 28px;
}

.alumni-glide {
  margin: 7% auto;
  width: 80%;
}

.alumni-card {
  border: 1px solid #6bdbff;
  border-radius: 12px;
  background: #ffffff;
}


.alumni-body {
  height: 250px;
}

.alumni-glide .glide__arrow--left {
  top: auto;
  transform: translateY(-230px);
}
.alumni-glide .glide__arrow--right {
  top: auto;
  transform: translateY(-230px);
}

/* student projects */

.student-projects {
  margin: auto;
  padding: 10% 0;
}

.student-projects h2 {
  font-size: 28px;
}

.project-container {
  width: 90%;
  flex-direction: column;
  gap: 24px;
  margin: 10% auto;
}

.student-projects .project-card {
  flex-basis: 100%;
  padding: 20px 20px;
}

.project-card h3 {
  font-size: 20px;
}

.project-card p {
  font-size: 14px;
}

 
  /* included */

  .included {
    width: 90%;
    margin: auto;
  }
  .included h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }

  .included p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .included div img {
    width: 40px;
    margin-left: 0;
  }
  /* calculator */
  .calculator {
    padding: 5% 0%;
    color: white;
  }
  .calculator h3 {
    text-align: left;
    font-size: 24px;
    line-height: 29px;
  }
  .calculator h3 span {
    width: 100%;
    display: block;
  }
  .calc-left {
    width: 100%;
  }
  .calc-right {
    width: 100%;
    margin-top: 24px;
  }
  .choose-academy-wrapper .choose-inner {
    display: block;
  }
  .choose-academy-wrapper label {
    width: 100%;
  }
  .calc-price-wrapper {
    width: 100%;
  }
  .calc-price p {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }
  .calculator p.calculator-subtitle {
    font-size: 14px;
    text-align: left;
    margin: 3% 0;
  }
  /* real experience */

  .real-experience {
    width: 90%;
  }

  .real-experience h3 {
    font-size: 18px;
  }

  .experience-cards {
    display: flex;
    flex-direction: column;
  }

  .experience-card {
    flex-basis: 100%;
    padding: 0px 8px;
  }

  .experience-head {
    min-height: 190px;
  }

  .experience-head p {
    font-size: 22px;
  }

  .experience-head span {
    font-size: 16px;
  }

  .experience-card ul li {
    font-size: 16px;
    margin: 4% 0;
  }

  
 
  /* companies */
  .companies {
    padding: 5% 0%;
  }
  .companies h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .companies p {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 4px;
    margin: 10px;
  }

 
  /* hire */
  .hire-program {
    padding-top: 10%;
  }

  .hire-program h2 {
    font-size: 24px;
    line-height: 50px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .hire-program p {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    margin: 4% 0%;
  }
  .hire-table {
    backdrop-filter: none;
    padding: 2px;
  }
  .hire-table-inner {
    padding: 16px 10px;
    background: linear-gradient(134deg, rgba(31, 126, 155, 0.63) 0%, rgba(130, 167, 169, 0.63) 100%);
backdrop-filter: blur(12px);
  }

  .hire-table-inner .col-lg-1 span {
    border: 3.84615px solid;
    font-size: 16px;
    line-height: 19px;
  }

  .hire-table-inner h4 {
    font-size: 16px;
    line-height: 19px;
    height: auto;
  }

  .hire-table-inner hr {
    opacity: 1;
    height: 4px !important;
  }

  .hire-table-inner p {
    height: auto;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  }

  .hire-mobile {
    padding-bottom: 250px;
  }

  .hire-after {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10% 0;
    background: none;
    border: none;
  }

  .hire-after h3 {
    font-size: 22px;
    line-height: 27px;
    margin: 5% 0;
  }

  .hire-after p.hire-heading {
    font-size: 16px;
  }

  .hire-after hr {
    width: 50%;
  }

  .hire-after .hire-right .hr-report {
    display: flex;
    flex-direction: column;
  }

  .hire-after .hire-left div p,
  .hire-after .hire-right div p {
    font-size: 14px;
    line-height: 17px;
  }

  .hire-program .logo-girl {
    position: absolute;
    right: auto;
    left: 0;
    top: -78%;
    z-index: 1;
  }
  /* meetup

  .meetup h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .meetup h2 span {
    font-size: 32px;
  }

  .meetup-right img {
    width: 100%;
  }

  .meetup-form button {
    width: 100%;
  }

  .meetup-left .input-wrapper input {
    width: 100%;
  } */
  /* pricing */
  .pricing {
    margin: 7% auto;
  }
  .pricing h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .pricing-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .pricing h2 span {
    font-weight: 700;
    font-size: 26px;
  }
  .pricing-card {
    width: 100%;
    margin: 10% 0%;
  }
  .pricing-top div:nth-child(1) {
    height: 180px;
  }
  .pricing-bottom button:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 9px 23px;
  }
  .pricing-bottom p:nth-child(3) {
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    border: none;
    margin-top: 0;
  }
  .pricing-bottom div {
    margin-top: 45px;
    padding-bottom: 16px;
  }
  .pricing-bottom img {
    margin-top: -35px;
  }
  .pricing-bottom button:last-child {
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 9px 23px;
    font-weight: 700;
  }
  .most-popular {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    padding: 11px 0;
    position: absolute;
    top: -48px;
    width: 100%;
  }

  .pricing-top {
    height: auto;
  }


  .pricing-bottom .reserve {
    max-width: 75%;
  }

  /* calculator */
  .calculator {
    padding: 5% 0%;
    color: white;
  }
  .calculator h3 {
    text-align: left;
    font-size: 24px;
    line-height: 29px;
  }
  .calculator h3 span {
    width: 100%;
    display: block;
  }
  .calc-left {
    width: 100%;
  }
  .calc-right {
    width: 100%;
    margin-top: 24px;
  }
  .choose-academy-wrapper .choose-inner {
    display: block;
  }
  .choose-academy-wrapper label {
    width: 100%;
  }
  .calc-price-wrapper {
    width: 100%;
  }
  .calc-price p {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }

  /* diploma */
  .diploma {
    width: 90%;
  }
  .diploma-inner {
    border-radius: 12px;
    padding: 10px;
  }
  .diploma-header {
    padding: 10px;
  }
  .diploma-header h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .diploma-header h3 span {
    font-weight: 700;
  }
  .diploma-header hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin-left: 10px;
  }
  .diploma-header p {
    font-size: 16px;
    line-height: 19px;
  }
  .diploma-card {
    width: 100%;
    padding: 10px;
  }
  .diploma-card hr {
    height: 4px !important;
    width: 50%;
    opacity: 1;
  }
  .diploma-card ul li {
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0%;
  }
  /* hybrid */
  /* .hybrid {
    padding: 32px 17px;
    margin: 5% auto;
  }
  .hybrid h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .hybrid p {
    font-size: 18px;
    line-height: 22px;
  } */

  /* learning advisor */
  .learning-info {
    width: 100%;
  }
  .learning-advisor h3 {
    font-size: 32px;
    line-height: 39px;
  }
  .learning-advisor p {
    font-size: 16px;
    line-height: 19px;
  }
  .learning-card {
    width: 100%;
    margin: 3% 0%;
  }
  .learning-card h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .learning-card p {
    font-size: 14px;
    line-height: 17px;
  }
  .learning-info button {
    width: 100%;
    margin-bottom: 30px;
  }

     /* free video */
     .free-video-left {
      padding: 24px 17px;
    }
    .free-video div p {
      font-size: 14px;
      line-height: 17px;
    }
    .free-video div p:nth-child(1) {
      padding: 8px;
      background: #ffffff;
      color: #666666;
    }
    .free-video div h3 {
      font-size: 32px;
      line-height: 97.52%;
    }
    .free-video-left label {
      font-size: 14px;
      line-height: 17px;
    }
    .free-video-left button {
      font-size: 16px;
      line-height: 19px;
      position: absolute;
      right: 5px;
      top: -5px;
      margin: 3% 0%;
    }
  /* register */

  .register {
    margin-top: 80px;
  }

  .register h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .star-percent-card {
    width: 100%;
    padding: 16px;
    margin: 5% 0%;
  }
  .star-percent-card p {
    font-size: 14px;
    line-height: 17px;
  }
  .form-wrapper {
    width: 100%;
    margin: 10% 0%;
  }
  .form-wrapper hr {
    height: 4px !important;
    width: 50px;
    opacity: 1;
    margin-left: 24px;
  }
  .form-wrapper p {
    font-size: 14px;
    line-height: 17px;
  }
  .form-wrapper p span {
    font-size: 12px;
    line-height: 15px;
  }
  .form-wrapper button {
    width: 100%;
  }

  .form-wrapper ._form_element {
    margin: 8px 0;
  }
  .enroll-in-info {
    width: 100%;
  }
  .enroll-in-info p {
    font-size: 16px;
    line-height: 19px;
    height: auto;
  }
  /* logos */
  .logos {
    padding: 3% 0%;
  }
  .logos h2 {
    font-size: 24px;
    line-height: 29px;
  }
  /* footer */
  footer {
    padding: 3% 0%;
  }
  .footer-element {
    width: 100%;
    margin: 3% 0%;
  }
  footer h4 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 0;
  }
  footer p {
    font-size: 12px;
    line-height: 15px;
    color: #c2c2c2;
  }
  .academies a {
    font-size: 14px;
    line-height: 17px;
    color: #c2c2c2 !important;
    text-decoration: none;
    display: block;
    margin: 2% 0%;
  }
  .academies .active-academy {
    /* color: #ca58ff !important; */
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
  }
  .social a {
    margin-right: 10px;
  }
  .bottom {
    padding: 8px 17px;
  }
  .bottom p {
    font-size: 10px;
    line-height: 12px;
  }
  .bottom p span {
    display: block;
  }
}

@media (min-width: 992px) {
  .collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1.seven-cols {
    width: 14.285%;
  }
}

@media screen and (min-width: 1025px) {
  .behance-profiles .glide__bullets {
    visibility: hidden;
  }
}

@media screen and (max-width: 425px) {
  /* diploma */
  .diploma-header p {
    width: 100%;
  }

  .hero h1 {
    font-size: 20px;
  }
  .diploma-header p {
    width: 100%;
  }

  .success-skills div p {
    font-size: 12px;
    line-height: 1;
    margin: 0;
  }
}

/* MEDIA QUERIES */


@media only screen and (max-width: 375px) {
  .expert-card-inner h4 {
    font-size: 16px;
    line-height: 24px;
  }

  .logos img {
    width: 80%;
  }
}
